.box{
    width: 800px;
    margin: 0 auto;
   
}
.box-item1{
    border: 1px solid black;
    width: 130px;
    height: 130px;
    text-align: center;
    line-height: 130px;
    float: left;
}
.box-item2{
    border: 1px solid black;
    width: 130px;
    height: 130px;
    text-align: center;
    line-height: 130px;
    float: left;
    box-shadow: 17px 17px 2px gray;
}
.box-item3{
    border: 1px solid black;
    width: 130px;
    height: 130px;
    text-align: center;
    line-height: 130px;
    float: left;
    box-shadow: 25px 25px 2px gray;
}
.box-item4{
    border: 1px solid black;
    width: 130px;
    height: 130px;
    text-align: center;
    line-height: 130px;
    float: left;
    box-shadow: 25px 25px 25px gray;
}
.box-item5{
    border: 1px solid black;
    width: 130px;
    height: 130px;
    text-align: center;
    line-height: 130px;
    float: left;
    box-shadow: 25px 25px 2px rgb(224, 222, 222);
}
.box-item6{
    border: 1px solid black;
    width: 130px;
    height: 130px;
    text-align: center;
    line-height: 130px;
    float: left;
    box-shadow: 25px 25px 2px rgb(188, 188, 188);
}
.box-item7{
    border: 1px solid black;
    width: 130px;
    height: 130px;
    text-align: center;
    line-height: 130px;
    float: left;
    box-shadow: 1px 25px 2px gray;
}
.box-item8{
    border: 1px solid black;
    width: 130px;
    height: 130px;
    text-align: center;
    line-height: 130px;
    float: left;
    box-shadow: -7px -7px 2px gray;
}
.ddd{
    margin-left: 30px;
    margin-bottom: 25px;
    background-color: aquamarine;
    border-radius: 20px;
}