.ggg{
    margin-left: 200px;
    color: black;
    border: 1px solid black;
    width: 400px;
    height: 150px;
    background: linear-gradient(270deg,red,yellow, green,blue);
    text-align: center;
    color: grey;
    padding-top: 5px;
    padding-bottom: 30px;
    font-size: 30px;
}
