.ggg{
    margin-left: 200px;
    color: black;
    border: 1px solid black;
    width: 300px;
    height: 250px;
    background: radial-gradient(green,green,white , blue,blue);
    text-align: center;
    line-height: 200px;
    position: relative;
}
.ddd{
    position: absolute;
    top: 30px;
    left: 55px;
    font-size: 13px;
}