body{
    background-color: orange;
}
.box{
    width: 1200px;
    margin: 0 auto;
    
}
.box-item1{
    
    border: 2px solid black;
    width: 450px;
    height: 250px;
    background-color: white;
    display: block;
    float: left;
    border-radius: 7px;
    box-shadow: 20px 20px 5px rgb(46, 43, 43);
}
.box-item3{
    width: 50%;
    height: 100%;
    display: block;
    float: left;
    background-color: white;
    text-align: center;
    line-height: 250px;
    
}
.box-item4{
    width: 50%;
    height: 100%;
    display: block;
    float: left;
    background-color: rgb(227, 220, 85);
    text-align: center;
    line-height: 250px;
    
}
.box-item2{
    
    border: 2px solid black;
    width: 450px;
    height: 250px;
    background-color: white;
    display: block;
    float: left;
    border-radius: 7px;
    margin-left: 150px;
    box-shadow: 20px 20px 5px rgb(46, 43, 43);
}
.box-item5{
    width: 50%;
    height: 100%;
    display: block;
    float: left;
    background-color: white;
    text-align: center;
    line-height: 250px;
}
.box-item6{
    width: 50%;
    height: 100%;
    display: block;
    float: left;
    background-color: rgb(210, 208, 161);
    text-align: center;
    line-height: 250px;
}